{% extends "base.html" %}
{% block title %}empathEase{% endblock %}
{% block content %}
<form method="POST">
    <br>
    <h2 align="center"><b>empathEase</b></h3>
    <div class = "form-group">
        <label for="query">How can I help you?</label>
        <input
            type="text"
            class = "form-control"
            id="query"
            name = "query"
            placeholder = "enter text"
        />
    </div>

    <div style="width:device-width;height:300px;border:1px solid #999;background-color:rgb(230, 230, 230)">
        {% if gpt_response %}
        {{ gpt_response }}
        {% endif %}
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
{% endblock %}